<html>
    <head>
        <title>Rowell's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Rowell's Blog</a></h1>
        </div>

        <div>
            <h2><a href="https://www.youtube.com/watch?v=Gw29f7CltII">Lupang Hinirang</a></h2>
            <p>published: 03.08.2020, 15:50</p>
        </div>
            <div style="margin-left: 1em;">
                <p>Bayang magiliw<br>
                    Perlas ng silanganan<br>
                    Alab ng puso sa dibdib mo'y buhay<br>
                    Lupang Hinirang, duyan ka ng magiting<br>
                    Sa manlulupig, di ka pasisiil<br>
                    Sa dagat at bundok na simoy<br>
                    At sa langit mong bughaw<br>
                    Tagumpay na nagnininging<br>
                    Ang bituin at araw niyan<br>
                    Kailan pa ma'y di magdidilim<br>
                    Lupa ng araw ng luwalhati't pagsinta<br>
                    Buhay ay langit sa piling mo<br>
                    Aming ligaya nang pag may mang-aapi<br>
                    Ang mamatay ng dahil sa iyo</p>
            </div>

        <div>
            <h2><a href="">Pilipinas Kong Mahal</a></h2>
            <p>published: 03.08.2020, 16:00:00</p>
        </div>
            <div style="margin-left: 1em;">
                <p>Ang bayan ko'y tanging ikaw,<br>
                    Pilipinas kong mahal.<br>
                    Ang puso ko at buhay man,<br>
                        sa iyo'y ibibigay.<br>
                    Tungkulin ko’y gagampanan,<br>
                        na lagi kang paglingkuran.<br>
                    Ang laya mo'y babantayan,<br>
                    Pilipinas kong hirang.</p>
            </div>
    </body>
</html>